@model ThayThuan_MVC.SanPham

@{
    ViewBag.Title = "Details";
}

<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__left product__thumb nice-scroll">
                        <a class="pt active" href="#product-1">
                            <img src="/img/product/shop/@Html.DisplayFor(model => model.HinhAnh)" alt="">
                        </a>
                        <a class="pt" href="#product-2">
                            <img src="/img/product/shop/@Html.DisplayFor(model => model.HinhAnh)" alt="">
                        </a>
                        <a class="pt" href="#product-3">
                            <img src="/img/product/shop/@Html.DisplayFor(model => model.HinhAnh)" alt="">
                        </a>
                    </div>
                    <div class="product__details__slider__content">
                        <div class="product__details__pic__slider owl-carousel">
                            <img data-hash="product-1" class="product__big__img" src="/img/product/shop/@Html.DisplayFor(model => model.HinhAnh)" alt="">
                            <img data-hash="product-2" class="product__big__img" src="/img/product/shop/@Html.DisplayFor(model => model.HinhAnh)" alt="">
                            <img data-hash="product-3" class="product__big__img" src="/img/product/shop/@Html.DisplayFor(model => model.HinhAnh)" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product__details__text">
                    <h3>@Html.DisplayFor(model => model.TenSanPham)<span>Brand: SKMEIMore Men Watches from SKMEI</span></h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <span>( 138 reviews )</span>
                    </div>
                    <div class="product__details__price">$ @Html.DisplayFor(model => model.Gia).0 <span>$ @{int dongiamoi = (int)Model.Gia * 115 / 100; @Html.DisplayFor(model => dongiamoi)}.0</span></div>
                    <p>
                        Nemo enim ipsam voluptatem quia aspernatur aut odit aut loret fugit, sed quia consequuntur
                        magni lores eos qui ratione voluptatem sequi nesciunt.
                    </p>
                    <div class="product__details__button">
                        <div class="quantity">
                            <span>Quantity: @Model.SoLuong</span>
                        </div>
                        <a href="@Url.Action("Edit", "SanPhams", new { id = Model.ID })" class="btn btn-primary m-r-5">Edit</a>
                        <a href="@Url.Action("Index", "SanPhams")" class="btn btn-success m-r-5">All Prodcut</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
