@model ThayThuan_MVC.SanPham

@{
    ViewBag.Title = "Edit";
}

<div class="modal" style="position: relative;display: block;z-index: 0;overflow-y: hidden;">
    @using (Html.BeginForm("Edit", "SanPhams", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="row" style="position: absolute;width: 1300px; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <!-- Basic Layout -->
            <div class="col-xxl" style="flex: 5">
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Edit Product</h5>
                    </div>
                    <div class="card-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="TenSanPham">Name Product</label>
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.TenSanPham, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="Gia">Unit Price</label>
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="Gia">Quantity</label>
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="IDDoiTuong">Objects Of Use</label>
                            <div class="col-sm-10">
                                @Html.DropDownList("IDDoiTuong", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="IDTheLoai">Category</label>
                            <div class="col-sm-10">
                                @Html.DropDownList("IDTheLoai", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="@Url.Action("Index", "SanPhams")" class="btn btn-default m-r-10 w-px-70">Close</a>
                            |
                            <button type="submit" value="Save" class="btn btn-primary m-r-10" style="width: 180px">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Basic with Icons -->
            <div class="col-xxl" style="flex: 2">
                <div class="card" style="width : 300px ">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Image Product</h5>
                    </div>
                    <img class="imgsp w-px-300 h-px-400" src="/img/shop/@Model.HinhAnh" alt="" style="padding: 4px 10px 0px 10px">
                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <div class="button-wrapper" style="margin: 10px 10px 0px 10px">
                            <label for="HinhAnh" class="btn btn-primary me-2 mb-3" tabindex="0">
                                <span class="d-none d-sm-block">Upload new photo</span>
                                <i class="mdi mdi-tray-arrow-up d-block d-sm-none"></i>
                                <input type="file" id="HinhAnh" name="HinhAnh" class="form-control sImg" accept="image/*" hidden />
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script src="~/Content/js/dangbai.js"></script>
