@model IEnumerable<ThayThuan_MVC.SanPham>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
@using (Html.BeginForm("Index", "SanPhams", FormMethod.Post))
{
    <div style="width: 750px; display: flex">
        <div style="margin: 0px 0px 0px 50px"></div>
        @Html.DropDownList("IDDoiTuong", null, htmlAttributes: new { @class = "form-control " })
        <div style="margin: 0px 20px 0px 20px"></div>
        @Html.DropDownList("IDTheLoai", null, htmlAttributes: new { @class = "form-control" })
        <button type="submit" class="btn btn-info btn-tone m-r-5" style="margin: 0px 0px 0px 30px">
            Search
        </button>
    </div>
}
<br />
<br />
<div class="table-responsive" style="margin: 20px">

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Objects Of Use</th>
                <th scope="col">Category</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.ID</th>
                    <th>@item.TenSanPham</th>
                    <th>@item.Gia.0$</th>
                    <th>@item.SoLuong</th>
                    <th>@item.DoiTuong.TenDoiTuong</th>
                    <th>@item.TheLoai.TenTheLaoi</th>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="mdi mdi-dots-vertical"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="@Url.Action("Edit", "SanPhams", new { id = item.ID })"><i class="mdi mdi-pencil-outline me-1"></i> Edit</a>
                                <a class="dropdown-item" href="@Url.Action("Details", "SanPhams", new { id = item.ID })"><i class="mdi mdi-details me-1"></i> Detail</a>
                                <a class="dropdown-item" href="@Url.Action("Delete", "SanPhams", new { id = item.ID })"><i class="mdi mdi-trash-can-outline me-1"></i> Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<p style="margin-left:50px">
    <a href="@Url.Action("Create", "SanPhams")" class="btn btn-warning btn-tone m-r-5">Create New Product</a>
</p>
