@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html lang="zxx">

<head>

    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/Content/filecss/login.css">

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- BEGIN LOGIN -->

    <div class="login-box">
        <h2>Login</h2>
        <form id="login">
            <div class="user-box">
                <input type="text" name="user" id="user" required="" autocomplete="off">
                <label>Username</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" id="password" required="" autocomplete="off">
                <label>Password</label>
            </div>
            <button type="submit" id="submit-login-button">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </button>
        </form>
    </div>

    <!-- END LOGIN -->
    <!-- BEGIN SIGIN -->

    <form action="/Home/SignUp" method="POST" onsubmit="onsignUpSubmit(event)">
        <div class="ctndankky">
            <h1>Form Đăng Ký</h1>
            <p>Xin hãy nhập biểu mẫu bên dưới để đăng ký.</p>
            <hr>

            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Nhập username" name="username" id="username-signup-input" required>
            <br />

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Nhập Email" name="email" id="email-signup-input" required>
            <br />

            <label for="psw"><b>Mật Khẩu</b></label>
            <input type="password" placeholder="Nhập Mật Khẩu" name="psw" id="psw-signup-input" required>
            <br />

            <label for="psw-repeat"><b>Nhập Lại Mật Khẩu</b></label>
            <input type="password" placeholder="Nhập Lại Mật Khẩu" name="psw-repeat" id="psw-repeat-signup-input" required>
            <br />

            <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Nhớ Đăng Nhập
            </label>

            <div class="clearfix">
                <button type="submit" class="signupbtn">Sign Up</button>
            </div>
        </div>
    </form>

    <!-- END SIGIN -->
    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li>
                <a href="#">
                    <span class="icon_heart_alt"></span>
                    <div class="tip">2</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon_bag_alt"></span>
                    <div class="tip">2</div>
                </a>
            </li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="/img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="@Url.Action("Index", "Home")"><img src="/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class=""><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><a href="#">Women’s</a></li>
                            <li><a href="#">Men’s</a></li>
                            <li><a href="@Url.Action("Shop", "Home", new {IdDoiTuong = "-1", IdTheLoai = "-1"})">Shop</a></li>
                            <li>
                                <a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./product-details.html">Product Details</a></li>
                                    <li><a href="https://localhost:44374/Shoper/SanPhams">Quản lý sản phẩm</a></li>
                                    <li><a href="https://localhost:44374/ADMIN/NguoiDungs">Admin</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth Father">
                            <a href="#" class="login">Login</a>
                            <a href="#" class="sigin">Register</a>
                        </div>
                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                            <li>
                                <a href="#">
                                    <span class="icon_heart_alt"></span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ShopCart", "Home")">
                                    <span class="icon_bag_alt"></span>
                                    <div class="tip">0</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->


    @RenderBody()

    <!-- Instagram Begin -->
    <div class="instagram">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-1.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-2.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-3.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-4.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-5.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-6.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">ashion_shop</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Instagram End -->
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="./index.html"><img src="/img/logo.png" alt=""></a>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            cilisis.
                        </p>
                        <div class="footer__payment">
                            <a href="#"><img src="/img/payment/payment-1.png" alt=""></a>
                            <a href="#"><img src="/img/payment/payment-2.png" alt=""></a>
                            <a href="#"><img src="/img/payment/payment-3.png" alt=""></a>
                            <a href="#"><img src="/img/payment/payment-4.png" alt=""></a>
                            <a href="#"><img src="/img/payment/payment-5.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5">
                    <div class="footer__widget">
                        <h6>Quick links</h6>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blogs</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="footer__widget">
                        <h6>Account</h6>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Orders Tracking</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Wishlist</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-8">
                    <div class="footer__newslatter">
                        <h6>NEWSLETTER</h6>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <div class="footer__copyright__text">
                        <p>
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <!-- Js Plugins -->
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <script src="~/Content/js/mixitup.min.js"></script>
    <script src="~/Content/js/jquery.countdown.min.js"></script>
    <script src="~/Content/js/jquery.slicknav.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.nicescroll.min.js"></script>
    <script src="~/Content/js/main2.js"></script>
    <script src="~/Content/js/login.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>

        function getCookieValue(cookieName) {
            var name = cookieName + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var cookieArray = decodedCookie.split(';');

            for (var i = 0; i < cookieArray.length; i++) {
                var cookie = cookieArray[i].trim();
                if (cookie.indexOf(name) == 0) {
                    return cookie.substring(name.length, cookie.length);
                }
            }

            return null;
        }
        function createCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }

            document.cookie = name + "=" + value + expires + "; path=/";
        }

        function deleteCookie(cookieName) {
            document.cookie = cookieName + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        }
        $(function () {

            var IdUser = getCookieValue("user");
            if (IdUser != null && IdUser != "null") {
                $.ajax({
                    url: '/Home/getSizeCart',
                    type: 'POST',
                    data: { IdUser: IdUser },
                    success: function (data) {
                        $(".tip").text(data.Size)
                        console.log(data.Size)
                    }
                })
                $.ajax({
                    url: '/Home/GetUser',
                    type: 'POST',
                    data: { IdUser: IdUser },
                    success: function (data) {
                        var fatherElement = $(".Father");

                        fatherElement.empty();
                        var nameUser = $('<a>', {
                            href: '#',
                            class: 'Logout',
                            text: data.Name
                        });
                        fatherElement.append(nameUser);
                        $(".Logout").click(function (event) {
                            event.preventDefault();
                            fatherElement.empty();
                            var loginLink = $('<a>', {
                                href: '#',
                                class: 'login',
                                text: 'Login'
                            });
                            var registerLink = $('<a>', {
                                href: '#',
                                class: 'sigin',
                                text: 'Register'
                            });
                            fatherElement.append(loginLink, registerLink);
                            createCookie("user", null, 3);
                            window.location.reload();
                        });
                    },
                    error: function () {
                        console.log("Lỗi Đăng Nhập");
                    }
                });
            }
            $("#login").submit(function (event) {
                event.preventDefault();
                var username = $("#user").val();
                var password = $("#password").val();

                $.ajax({
                    url: '/Home/Submit',
                    type: 'POST',
                    data: { username: username, password: password },
                    success: function (data) {
                        var fatherElement = $(".Father");

                        fatherElement.empty();
                        var nameUser = $('<a>', {
                            href: '#',
                            class: 'Logout',
                            text: data.Name
                        });
                        fatherElement.append(nameUser);
                        createCookie("user", data.ID, 3);
                        window.location.reload();

                        document.querySelector(".login-box").classList.remove("Run");
                    },
                    error: function () {
                        console.log("Lỗi Đăng Nhập");
                    }
                });
            });
        });

        function onsignUpSubmit(event) {
            event.preventDefault();
            var username = document.getElementById("username-signup-input").value;
            var password = document.getElementById("psw-signup-input").value;
            var passwordRepeat = document.getElementById("psw-repeat-signup-input").value;
            var email = document.getElementById("email-signup-input").value;
            if (password != passwordRepeat) {
                alert("Mật khẩu xác nhận không khớp");
                return;
            }
            var signUpRequest = $.param({
                username: username,
                password: password,
                email: email
            });
            $.post("/Home/SignUp", signUpRequest, function (data, textStatus, jqXHR) {
                console.log(data);
                alert(data.message);
                if (data.success) {
                    // Biết là a đuồi lắm rồi, đừng có soi nữa, lỗi tôi, tôi không biết làm web front-end cám ơn.
                    document.getElementById("user").value = username;
                    document.getElementById("password").value = password;
                    document.getElementById("submit-login-button").click();
                }
            });
        }
    </script>
</body>

</html>